.mp{
    margin-left: 100px !important;
   
}

/* .parallax-container {
    height: 500px !important;
     margin-bottom: 100px !important;

} */

.pt {
    margin-left: 50px !important;
    margin-top: 102px !important;
}

.parallax-container .parallax{
min-height: 400px;

}

.parallax-container{
    height: 550px !important;
}

.parallax {
    margin-top: 0px !important;

}

/* .ayos {
    transform: translate3d(-50%, 218.086px, 0px);
} */

.mid {
    text-align: center;
}
/* 
.card.medium {
    height: 400px !important;
} */

.card .card-image img {
    max-height: 100%;
    max-width: 100%;
    
}

.adj-img {
    height:250px !important;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
    max-height: 100% !important;
    overflow: hidden;
    
}

.card .card-action {
       padding: 5px 24px 20px 24px !important;
}

.card .card-content .card-title {
    display: block;
    line-height: 20px !important;
    margin-bottom: 5px !important;
}

.card .card-content p {
    margin: 1 !important;
}
/* .row .col {
    padding: 0;
} */

/* .card-content {
    padding-top: 0 !important;
} */

.top-p {
    top: 50px !important;
}
.ellipsis1{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .modal {
    max-height: 80% !important;
    min-width: 40%;
    max-width: 50% !important;
} */

.product-m {
    background-color: rgba(0,0,0,0.0) !important;
    box-shadow: none;
}

.ccp{
    padding-top: 0px !important;
}

.hm {
    width: 80% !important;
    top: 5% !important;
}

.dp {
    max-width: 35px !important;
    height: auto !important;
}
.card.horizontal .card-stacked .card-content {
    overflow-y: scroll !important;
}

.ca {
   padding: 5px 0px 25px 10px !important;
}

.s-modal {
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 60%;
    width: 35%;
    top: 5% !important;
    will-change: top, opacity;
    min-width: 50%;

}

.pointer
{
    cursor: pointer;
}

.file-uploadBox
{
    height: 100px;
    width: 100px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}
.ekis {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 3px 5px 2px 5px;
    border-radius: 100%;
}

.ekis:hover {
    
    color: red;
    background-color: white;

}

.th{
    height: 4rem !important;
}

.file-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border: 1px solid;
    border-style: dashed;
    padding: 25px;
    border-radius: 10px;
}

.file-icon:hover{
    color: #42a5f5 !important;
}

.card.horizontal .card-image img {
    border-radius: 2px 0 0 2px;
    max-width: 100%;
    width: 100% !important;
}

.card img {
    max-height: 200px;
    object-fit: cover;
}

.card img.materialized.active {
    max-height: none;
    object-fit: none;
}

.carousel .indicators {
    top: 430px !important;
}

.card.large {
    height: 500px !important;
}

.carousel.carousel-slider .carousel-item {
    width: 100%;
    height: 100%;
    min-height: 500px !important;
}
.collection .collection-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 20px 20px;
    margin: 0;
}

.taas {
     top: 100px !important;
}
.taas1 {
    top: 150px !important;
}


.dropdown-content
{
    position: fixed;
    width: 250px !important;
    color: black !important;
}

.dropdown-trigger:hover{
    background-color: #f5f5f5;
  
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-size: 15px;
    color: black !important;
    display: block;
    line-height: 30px;
    padding: 14px 16px;
}


.card.horizontal.small .card-image, .card.horizontal.medium .card-image, .card.horizontal.large .card-image
{
    overflow: hidden !important;
}

.card.medium {
    height: 350px !important;
    
}


.p-lr-0{
        padding-right: 0px !important;
        padding-left: 0px !important;
}

@media (max-width: 990px) {
    .resizeimg {
        height: auto;
        object-fit: cover;
    }
}

@media (min-width: 1000px) {
    .resizeimg {
        width: auto;
        height: 350px;
        object-fit: cover;
    }
}

#banner {
    height: 300px;
    width: 100%;
   background: #FDC830;
   /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #F37335, #FDC830);
   /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #F37335, #FDC830);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    overflow: hidden;
   
}

#banner a {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    animation: 1s fadein ease-in-out;
    animation-fill-mode: forwards;
}

#target {
    /* background: url(http://base.webdesignforyou.net/banner/target.png) center center no-repeat; */
    background-size: 100% auto;
    margin: 0 auto;
    position: absolute;
    width: 500px;
    height: 500px;
    margin-top: -100px;
    margin-left: -100px;
    animation: 20s roty infinite linear;
    
}

#product {
    margin: 30px auto 0 auto;
    display: block;
    z-index: 10;
   
    position: relative;
    opacity: 0;
    animation: 1s growin ease-in-out 1s;
    animation-fill-mode: forwards;
}

#button {
    color: #fff;
    padding: 8px 15px 8px 15px;
    font-family: 'poppins';
    font-weight: 700;
    font-size: 18px;
    background: #42a5f5;
    display: inline-block;
    margin: 10px 0 0 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    opacity: 0;
    animation: 1s fadein ease-in-out 2s;
    animation-fill-mode: forwards;
}

#sale {
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    z-index: 10;
}

#sale-text {
    color: #F37335;
    padding: 5px;
    font-weight: bolder;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
    font-family: poppins;
    font-size: 26px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: 1s fadein ease-in-out 1.5s;
    animation-fill-mode: forwards;
    background-color: white;
    border-radius: 10px;
}

#badge {
    box-sizing: border-box;
    color: #fff;
    padding: 10px 0 0 0;
    font-weight: 800;
    font-family: 'poppins';
    font-size: 25px;
    text-align: center;
    width: 100px;
    height: 100px;
    background: #42a5f5;
    border: solid 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: inline-block;
    border-radius: 50%;
    transform: rotate(345deg);
    animation: 1s fadein ease-in-out;
    -webkit-transition-delay: 6s;
    transition-delay: 6s;
    position: absolute;
    opacity: 0;
    transform: rotate(0deg);
    top: 0px;
    right: 0px;
    z-index: 10;
    animation: 1s rollin ease-in-out 2.5s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes roty {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rollin {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        top: 0px;
        right: 0px;
    }

    100% {
        opacity: 1;
        transform: rotate(345deg);
        top: 40px;
        right: 40px;
    }
}

@keyframes growin {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.collection .collection-item {
        padding: 12px 10px;
}

/* .collection{
    width: 300px;
    position: relative;
} */

.close-p {
    
    background-color: black;
    padding: 5px 7px 3px 7px;
    border-radius: 100%;
}

.close-p:hover {
   
    background-color: #64b5f6;
}

.s-r {
    border-right: 1px solid #e0e0e0;
  
    height: 100%;
}

.s-l {
    border-left: 1px solid #e0e0e0;
}

.s-b {
    border-bottom: 1px solid #e0e0e0;
}

.s-t {
    border-top: 1px solid #e0e0e0 !important;
}

.scrollable{
 overflow-y: auto !important;
 }

 .send-btn{
     position: absolute !important;
     right: 0px !important;
     top: 4px !important;
     border: none !important;
     height: 20px !important;
     width: 20px !important;
     border-radius: 100% !important;
     outline: none !important;
     text-align: center !important;
     font-weight: bold !important;
      padding:2px !important;
 }

 .buttonInside {
     position: relative;
     margin-bottom: 10px;
 }

 .opt-notif{
     margin-top: 10px !important;
 }

 .opt {
     color: grey;
     font-size: 12px;
     cursor: pointer;

 }

 .opt:hover {
        border-bottom: 1px solid #64b5f6;
        color: #64b5f6;
 }