<div class="row mt-51">
    <!-- <div class="col s12 p-lr-0">
        <div class="card-panel bg-gradient">
        <div class="col s12">
            <img src="components/images/dp-def.jpg" class="circle">
        </div>



        </div>
    </div> -->

    <div class="row">
        <div class="col s12">
            <div class="card bg-gradient">
                <div class="card-content white-text center">
                    <div class="row">
                        <div class="col s12">
                            <img src="components/images/dp-def.jpg" id="profImage" class="circle userDp">
                        </div>
                        <div class="col s12">
<span class="font-6 font-bolder font-5" id="profUserName">Emel Capilitan </span> <i class="fa fa-check-circle white-text"></i><br>
                            <span><i class="fas fa-map-marker-alt" id="profUserAddress"></i> Area 5-A Sittio Cabuyao Sauyo Quezon City</span><br>
                            <span><i class="fas fa-shield-alt" id="profTrusted"></i> Trusted User</span>
                        </div>
                    </div>
                </div>


                <div class="card-action right">
                    <button href="#rateProductModal" class="btn orange br-max modal-trigger"><i class="fas fa-star"></i> RATE</button>
                </div>
            </div>
        </div>
    </div>
<div class="mr-4 ml-4"></div>
    <h5 class="font-bolder ml-3 grey lighten-2 black-text br-1 p-4 mr-2"><i class="fas fa-store-alt"></i> Selling
        Products</h5>

<ul class="collection" id="MyProductsItems">

</ul>
</div>
<script src="../app/core/myProducts.js"></script>
<script src="../app/core/myProfile.js"></script>

</div>