<div class="not-login">
  <div class="parallax-container valign-wrapper center">
    <div class="container pt">
      <div class="row font-5">
        <div class="col l3 s3 m3 white-text left-align mt-5">
          <p class="font-5">WELCOME TO <br><span class="font-bolder font-h">SHOP&DEAL</span></p>
          <div class="divider mb-1"></div>
        </div>
        <div class="col l3 s12 l12 white-text left-align mt-3">
          <a class="waves-effect btn-large blue">SHOP NOW</a>
        </div>
      </div>
    </div>

    <div class="parallax">
      <img src="components/images/banner.jpg" class="ayos">
    </div>

  </div>
</div>

<!-- FEATURE HERE -->
<div class="feature section not-login hide">
  <div class="row mr-5 ml-5 mid">
    <h3 class="font-bolder">Why SHOP & DEAL?</h3>
    <div class="row mt-5 black-text">
      <div class="col l4 s12 p-5">
        <i class="fas fa-paper-plane font-5 circle black white-text p-5 center"></i>
        <h6 class="font-5 font-bolder"> FAST </h6>
        <p class="font-3"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste deleniti velit laudantium,
          labore itaque quas, perferendis, mollitia natus odio exercitationem pariatur atque officia? Unde sint neque
          reprehenderit dolorum obcaecati nostrum.
        </p>
      </div>
      <div class="col l4 s12 p-5">
        <i class="fas fa-clock font-5 circle black white-text p-5 center"></i>
        <h6 class="font-5 font-bolder"> RELIABLE </h6>
        <p class="font-3"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste deleniti velit laudantium,
          labore
          itaque quas, perferendis, mollitia natus odio exercitationem pariatur atque officia? Unde sint neque
          reprehenderit
          dolorum obcaecati nostrum.
        </p>
      </div>
      <div class="col l4 s12 p-5">
        <i class="fas fa-hands-helping font-5 circle black white-text p-5 center"></i>
        <h6 class="font-5 font-bolder"> HELPING HAND </h6>
        <p class="font-3"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste deleniti velit laudantium,
          labore
          itaque quas, perferendis, mollitia natus odio exercitationem pariatur atque officia? Unde sint neque
          reprehenderit
          dolorum obcaecati nostrum.
        </p>
      </div>
    </div>
  </div>
</div>



<!-- ITEMS -->
<br>
<br>
<h5 class="font-bolder ml-3 grey lighten-2 black-text br-1 p-4 mr-2 hide"><i class="fa fa-search"></i> You search "<span
    id="searchTxt">Loading...</span>"</h5>

<div class="row ml-2 mr-2 hide center" id="searchedProducts">

</div>

<h6 class="font-bolder ml-3 grey lighten-2 black-text br-1 p-2 mr-2"><i class="fas fa-fire-alt font-3"></i> Featured
  Products</h6>
<!-- CARD ITEMS -->

<div class="row ml-2 mr-2 center" id="featuredProducts">

</div>

<h6 class="font-bolder ml-3 mt-6 grey lighten-2 black-text br-1 p-2 mr-2"><i class="fas fa-cart-plus font-3"></i> New
  Products</h6>
<!-- CARD ITEMS -->
<div class="row ml-2 mr-2 center" id="newProducts">

</div>


<!-- ADS SECTION -->
<div class="row">
  <div class="col s12 mb-5 mt-3">
    <div id="banner">
      <a href="#">
        <div id="target"></div>
        <img id="product" src="components/images/dp.png">
        <div id="badge" class="pulse">SAVE NOW!</div>
        <div id="sale">
          <span id="sale-text">30% off All Bid Products</span><br />
          <span id="button"><i class="fas fa-gift"></i> See Special</span>
        </div>
      </a>
    </div>
  </div>
</div>


<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l3 m6 s12">
        <img src="components/images/grey-logo.png" style="height:155px;" class="responsive-img">
      </div>
      <div class="col l3 m6 s12">
        <h5 class="font-bolder grey-text">SHOP&DEAL</h5>
        <p class="grey-text">FOLLOW US:</p>
        <p class="grey-text"><i class="fab fa-facebook-f mr-3"></i> @SHOP&DEALOFFICIAL</p>
        <p class="grey-text"><i class="fab fa-twitter mr-2"></i> @SHOP&DEALOFFICIAL</p>
      </div>
      <div class="col l3 m6 s12">
        <h5 class="grey-text">Quick Links</h5>
        <ul>
          <li><a class="grey-text" href="#!">Home</a></li>
          <li><a class="grey-text" href="#!">Product</a></li>
          <li><a class="grey-text" href="#!">About</a></li>
          <li><a class="grey-text" href="#!">Login</a></li>
        </ul>
      </div>
      <div class="col l3 m6 s12">
        <p class="grey-text">This website is for project purposes only. We need to do this to pass our subject and
          avoid failing grades.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col s6 left grey-text">
          © 2019 SHOP&DEAL
        </div>
<div class="col s6 grey-text right-align">
<span>Terms and Condition</span>
<span>&nbsp;|&nbsp;</span>
<span>Privacy Policy</span>
        </div>

      </div>
    </div>
  </div>
</footer>

<script src="../app/core/home.js"></script>
<script>
  $(document).ready(function () {
    $('.parallax').parallax();

  })
</script>