<!-- <div class="content mt-6 centered">
    <div class="row">
        <div class="col s12 center">
            <img src="components/images/empty.jpg" alt="Paris" class="responsive-img gitna">
        </div>
        <div class="col s12 center mt-5 font-bolder font-3">No notifications yet.</div>
    </div>
</div> -->


<div class="col s12 my-products mt-6 mb-3 br-1">
    <div class="mr-5 ml-5">
        <div class="row">
            <div class="col s4 mt-2">
                <h5>Notifcations</h5>
            </div>
            <div class="col s8 mt-51 right-align">
<div class="opt-notif">
<span class="opt blue-text">Select all</span>&nbsp;
<span class="opt blue-text">Delete selected</span>
</div>
            </div>
        </div>
        <ul class="collection">
<li class="collection-item avatar">
    <img src="components/images/notif-icon1.png" alt="" class="circle blue">
 
    <p class="color-default"><b>Emel Capilitan</b> offers you a bid on your item <b>ASUS ZENFONE GO 2 MAX</b></p>
<div class="opt-notif">
    <span><a href="#!" class="opt">Delete</a></span>
    <span><a href="#!" class="opt">Mark as Read</a></span>
    </div>
     <label class="secondary-content mt-3 ml-3">
        <input type="checkbox" />
        <span></span>
      </label>

</li>

<li class="collection-item avatar">
    <img src="components/images/notif-icon2.png" alt="" class="circle blue">
    <p class="color-default"><b>Emel Capilitan</b> want to buy on your item <b>ASUS ZENFONE GO 2 MAX</b></p>
<div class="opt-notif">
    <span><a href="#!" class="opt">Delete</a></span>
    <span><a href="#!" class="opt">Mark as Read</a></span>
</div>
    <label class="secondary-content mt-3 ml-3">
        <input type="checkbox" />
        <span></span>
    </label>

</li>
<li class="collection-item avatar section grey lighten-2">
    <img src="components/images/notif-icon3.png" alt="" class="circle blue">
    <p class="color-default">The item on your watch list <b>Asus Gaming Laptop</b> is already bought by <b>Patrick Figuracion</b></p>
<div class="opt-notif">
    <span><a href="#!" class="opt">Delete</a></span>
    <span><a href="#!" class="opt">Mark as Read</a></span>
</div>
    <label class="secondary-content mt-3 ml-3">
        <input type="checkbox" />
        <span></span>
    </label>

</li>
<li class="collection-item avatar">
    <img src="components/images/notif-icon4.png" alt="" class="circle blue">
    <p class="color-default">The item that you have bid/buy <b>Asus Gaming Laptop</b> is accepted now by <b>Patrick
            Figuracion</b> You have now a permission to chat.</p>
    <div class="opt-notif">
        <span><a href="#!" class="opt">Delete</a></span>
        <span><a href="#!" class="opt">Mark as Read</a></span>
    </div>
    <label class="secondary-content mt-3 ml-3">
        <input type="checkbox" />
        <span></span>
    </label>

</li>
<li class="collection-item avatar">
    <img src="components/images/notif-icon5.png" alt="" class="circle blue">
<p class="color-default"><b>Patrick Figuracion</b> give a feedback on you.</p>
    <div class="opt-notif">
        <span><a href="#!" class="opt">Delete</a></span>
        <span><a href="#!" class="opt">Mark as Read</a></span>
    </div>
    <label class="secondary-content mt-3 ml-3">
        <input type="checkbox" />
        <span></span>
    </label>

</li>
        </ul>
    </div>
 
</div>